{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro de réservation</th>
                <th>Date d'arrivée</th>
                <th>Date de départ</th>
                <th>Client</th>
                <th>Lieux</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
            <pre>
            </pre>
                <td>{{ booking.id }}</td>
                <td>{{ booking.arrivalDate ? booking.arrivalDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.departureDate ? booking.departureDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.user}}</td>
                <td>
                    {% for greenhouse in booking.greenhouses %}
                        {{ greenhouse.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('app_booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_booking_new') }}">Create new</a>
{% endblock %}
