{% extends 'admin_base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Réservation numéro {{ booking.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Client</th>
                <td>{{ booking.user }}</td>
            </tr>
            <tr>
                <th>Date d'arrivée</th>
                <td>{{ booking.arrivalDate ? booking.arrivalDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de départ</th>
                <td>{{ booking.departureDate ? booking.departureDate|date('d/m/Y') : '' }}</td>
            </tr>
             <tr>
                <th>Lieu</th>
                <td>{% for greenhouse in booking.greenhouses %}
                        {{ greenhouse.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</td>
            </tr>

            
        </tbody>
    </table>

    <a href="{{ path('app_booking_calendar') }}">Retourner sur le calendrier</a>

    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">Modifier</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
